.table-container {
  border-collapse: collapse;
  width: 100%;
}

.table-header-row {
  border: 1px solid #ddd;
  background-color: #f2f2f2;
}

.table-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-cell-button {
  border: 1px solid #ddd;
  padding: 8px;
}
